# check db/schema.rb for the list of fields/properties
<div class="event">
  <h4><%= event.name %> (<%= event.city %>)</h4>
  <p>Date: <%= event.date %><br />
  Capacity: <%= event.capacity %></p>
</div>